.msg-space {
  width: 80%;
  padding: 0 10px;
}

.header {
  border-bottom: 1px solid #eee;
  display: flex;
}
.group-token {
  font-size: 10px;
  margin-left: 10px;
  padding: 5px;
  background: #17b169;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.header .logout-btn {
  margin-top: 25px;
  height: 35px;
}

.group-link {
  cursor: pointer;
  background: #eee;
  padding: 5px;
  border-left: 5px solid #ace1af;
}

.messages {
  padding: 20px 30px;
  overflow-y: scroll;
  max-height: 54vh;
}

.message {
  margin-top: 10px;
  padding: 10px 20px;
  background: #eee;
  display: inline-block;
  border-radius: 10px;
  min-width: 20%;
  max-width: 40%;
}
.message-header {
  font-size: 10px;
  color: #999;
  display: flex;
  justify-content: space-between;
}
.message-header strong {
  color: #999;
}

.right {
  margin-top: 10px;
  background: #ace1af;
  margin-left: auto;
  margin-right: 0;
}

.footer {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  position: absolute;
  bottom: 10px;
  width: 75%;
  border-top: 1px solid #eee;
}
.footer textarea {
  width: 80%;
  border: 1px solid #eee;
  border-radius: 5px;
  height: 50px;
  padding: 10px;
}
.footer textarea:focus {
  outline: none;
}
